form {
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: solid 0.5px black;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200%;
    margin-bottom: 1rem;
}

.form-control {
    max-width: 400px; /* Establece un ancho máximo para los inputs */
    padding: 0.5rem; /* Añade espacio dentro de los inputs */
    box-sizing: border-box;
    width: 100%;
    
}
button{ 
    width: 50%; /* Establece el ancho del botón */
    align-self: center;
}