.Btn-HeroSection{
    display: inline-block;
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

  @media (max-width: 768px) {
    .Btn-HeroSection {
      font-size: .7rem; 
      padding: .5rem .7rem; 
    }
  }
  @media (max-width: 1000px) {
    .Btn-HeroSection {
      font-size: 1.2rem; 
      padding: .5rem .7rem; 
    }
  }
  
  
  @media (max-width: 576px) {
    .Btn-HeroSection {
      font-size: 1rem;
      padding: .5rem .9rem; 
    }
  }