.carousel-item {
    position: relative;
  }
  .carousel-image-container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .carousel-image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.785); /* Fondo oscuro semitransparente */
    z-index: 1;
  }
  .carousel-image-container img {
    width: 100%; 
    height: auto;
    max-height: 57rem; 
    object-fit: cover; 
  }
  .centered-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 1.5s ease-in-out; 
  }
  .texto-imagen{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .carousel-caption h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .carousel-caption p{
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

@media (max-width: 768px) {
  .carousel-caption h2 {
    font-size: 2rem;
  }
  
  .carousel-caption p {
    font-size: 1rem;
  }
}
  .carousel-item.active .centered-caption {
    opacity: 1;
    transition: opacity 1.5s ease-in-out; 
  }
  .carousel-item .centered-caption {
    opacity: 0;
    transition: opacity 1.5s ease-in-out; 
  }
  @media (max-width: 768px) {
    .carousel-caption h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    
    .carousel-caption p {
      font-size: 1.2rem;
      margin-top: 0.1rem;
      font-weight: 700;
    }
    
    .carousel-image-container img {
      max-height: 20rem; 
    }
  
    .carousel-caption {
      padding: 0 1rem; 
    }
  }
  @media (max-width: 768px) {
    .carousel,
    .carousel-inner,
    .carousel-item,
    .carousel-image-container {
      height: 100vh; 
      width: 100vw; 
    }
  
    .carousel-image-container img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      max-height: none; 
    }
  
    .centered-caption {
      padding: 4rem;
      width: 90%; 
    }
  
    .carousel-caption h2 {
      font-size: 1.8rem; /* Slightly larger than your smallest size */
      margin-bottom: 1rem;
    }
  
    .carousel-caption p {
      font-size: 1rem; /* Slightly larger than your smallest size */
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }
  }
  
  @media (max-width: 576px) {
    .carousel-caption h2 {
      font-size: 1.7rem;
    }
  
    .carousel-caption p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      font-weight: 300;
    }
  }