/* Section2.css */
.accordion-button:not(.collapsed) {
    background-color: #e7f1ff;
    color: #0c63e4;
  }
  
  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
  }
  
  @media (max-width: 991px) {
    .accordion {
      margin-top: 2rem;
    }
  }
  .contenedor-section2{
    margin-top: 4rem;
  }