.service-carousel {
    padding: 50px 0;
  }
  
  .service-item {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .service-item p {
    font-size: 1rem;
  }
.contenedor-section{
    background-color: rgb(195, 209, 222);
}  